# This github workflow will build the docker image and push it to the container registry
name: Docker-Build-and-Push-to-Docker-Hub
run-name: ${{ github.actor }} is running Docker Build & Push to Docker Hub
on:
  push:
    branches:
      - dev
      - uat
  pull_request:
    branches:
      - dev
      - uat

env:
  APPLICATION_NAME: map-singapore-app

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ env.APPLICATION_NAME }}:${{ github.ref }}
